* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

header {
    position: fixed;
    top: 45px;
    width: 100%;
    background-color: brown;
    z-index: 1;
}

nav {
    display: block;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: rgb(99, 29, 29);
}

nav a {
    float: left;
    display: block;
    color: rgb(250, 235, 215);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(112, 45, 45);
    color: rgb(190, 175, 150);
}

body {
    background-color: beige;
}

.image-box {
    display: block;
    position: relative;
    top: 175px;
    margin-left: 25%;
    margin-right: 25%;
}

img {
    width: 100%;
    height: auto;
    border: solid rgba(128, 128, 128, 0.5) 1px;
}

.announcment {
    display: block;
    position: relative;
    top: 200px;
    margin-bottom: 50px;
    margin-right: 15%;
    margin-left: 15%;
    padding: 5px;
}

li {
    margin-bottom: 20px;
}

#line {
    display: block;
    position: relative;
    top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-form {
    display: block;
    position: relative;
    top: 200px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    background-color: blanchedalmond;
    border: solid black 1px;
    border-radius: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    padding: 10px 16px;
    margin-top: 10px;
}

footer {
    position: relative;
    top: 200px;
    padding-bottom: 2px;
}